## For loops

In [5]:
for i in 'saya belajar python':
    print(i)

s
a
y
a

b
e
l
a
j
a
r

p
y
t
h
o
n

In [6]:
for i in 'saya belajar python':
    print(i, end='')

saya belajar python

In [7]:
angka = [1,2,3,4,5,6,7,8,9]

In [8]:
for isi in angka:
    print(isi)

1
2
3
4
5
6
7
8
9

In [9]:
len(angka)

9

In [10]:
jumlah = 0

In [14]:
for isi in angka:
    jumlah += isi
    print('hasil penjumlahan pada iterator ke-{} adalah {}'.format(isi,jumlah))

hasil penjumlahan pada iterator ke-1 adalah 64
hasil penjumlahan pada iterator ke-2 adalah 66
hasil penjumlahan pada iterator ke-3 adalah 69
hasil penjumlahan pada iterator ke-4 adalah 73
hasil penjumlahan pada iterator ke-5 adalah 78
hasil penjumlahan pada iterator ke-6 adalah 84
hasil penjumlahan pada iterator ke-7 adalah 91
hasil penjumlahan pada iterator ke-8 adalah 99
hasil penjumlahan pada iterator ke-9 adalah 108

In [17]:
for isi in angka:
    jumlah += isi
print('totalnya adalah',jumlah)

totalnya adalah 207

In [18]:
angka_baru = [1,2,3,4,5,6,7,8,9,10]

In [21]:
jumlah_baru = 0
for a in angka_baru:
    jumlah_baru += a
    print('urutan ke-{} adalah {}'.format(a,jumlah_baru))

urutan ke-1 adalah 1
urutan ke-2 adalah 3
urutan ke-3 adalah 6
urutan ke-4 adalah 10
urutan ke-5 adalah 15
urutan ke-6 adalah 21
urutan ke-7 adalah 28
urutan ke-8 adalah 36
urutan ke-9 adalah 45
urutan ke-10 adalah 55

In [25]:
for a in angka_baru:
    jumlah_baru = jumlah_baru + a
print('total jumlah',jumlah_baru)

total jumlah 275

## Penggunaan looping dan conditionals

In [30]:
jumlah = 0
for item in 'saya belajar python':
    jumlah += 1
    if item == 'a':
        print('kamu dihuruf A dan di urutan -',jumlah)

kamu dihuruf A dan di urutan - 2
kamu dihuruf A dan di urutan - 4
kamu dihuruf A dan di urutan - 9
kamu dihuruf A dan di urutan - 11

### Tantangan 

angka = [1,2,3,4,5,6,7,8,910]
lakukan iterasi list angka, kemudian cetak di layar apakah ia ganjil atau genap

In [32]:
angka = [1,2,3,4,5,6,7,8,9,10]

In [40]:
for x in angka:
    if x % 2 == 0:
        print('angka',x,' merupakan angka genap')
    else:
        print('angka',x,' merupakan angka ganjil')

angka 1  merupakan angka ganjil
angka 2  merupakan angka genap
angka 3  merupakan angka ganjil
angka 4  merupakan angka genap
angka 5  merupakan angka ganjil
angka 6  merupakan angka genap
angka 7  merupakan angka ganjil
angka 8  merupakan angka genap
angka 9  merupakan angka ganjil
angka 10  merupakan angka genap

### For loop dengan tuple dan list multiple items

In [42]:
box1 = ((1,2),(3,4),(5,6))

In [43]:
for item in box1:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [48]:
for a,b in box1:
    print(a)
    print(b)

1
2
3
4
5
6

In [49]:
box2 = [(1,2),(3,4),(5,6)]

for a,b in box2:
    print(a)
    print(b)

1
2
3
4
5
6

In [50]:
box3 = [(1,2,'a'),(3,4,'b'),(5,6,'c')]

for a,b,c in box3:
    print(a)
    print(b)
    print(c)

1
2
a
3
4
b
5
6
c

## While loop
ada 3 argumen yang biasa digunkan

1. break = menghentikan looping
2. continue = melanjutkan looping ke iterator selanjutnya dan melewati iterator saat ini 
3. pass = tidak melakukan apa-apa

In [1]:
index = 0
while True:
    print('saya berhasil menjalankan while loop')
    index += 1
    if index == 5:
        break

saya berhasil menjalankan while loop
saya berhasil menjalankan while loop
saya berhasil menjalankan while loop
saya berhasil menjalankan while loop
saya berhasil menjalankan while loop

In [2]:
x = 0
while x < 20:
    print('sekarang anda menampilkan angka ',x)
    x+=2

sekarang anda menampilkan angka  0
sekarang anda menampilkan angka  2
sekarang anda menampilkan angka  4
sekarang anda menampilkan angka  6
sekarang anda menampilkan angka  8
sekarang anda menampilkan angka  10
sekarang anda menampilkan angka  12
sekarang anda menampilkan angka  14
sekarang anda menampilkan angka  16
sekarang anda menampilkan angka  18

In [3]:
angka = [1,2,3,4,5,6,7,8,9]

In [4]:
for item in angka:
    if item%2 == 0:
        continue
    else:
        print('anda nemapilkan angka ganjil =', item)

anda nemapilkan angka ganjil = 1
anda nemapilkan angka ganjil = 3
anda nemapilkan angka ganjil = 5
anda nemapilkan angka ganjil = 7
anda nemapilkan angka ganjil = 9

In [5]:
for i in 'saya sudah mulai mahir belajar python':
    if i == 'a':
        pass
    else:
        continue

In [5]:
for a in 'abcd':
    pass
    print(a)

a
b
c
d